/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: lavender;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

textarea {
    resize: none;
}

#border {
    border: solid 2px dimgray;
    width: 400px;
    height: 300px;
    background-color: dimgray;
}

.flex-border {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.align-input-param {
    display: flex;
    justify-content: space-between;
}

.align-input-param input {
    width: 2rem;
    text-align: center;
    margin: .5rem 0;
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    border: transparent;
    background-color: lightseagreen;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
